{% extends "FuelTrackerApp/base.html" %}

{% block title %}Fuel Station Info: {{ fuel_station.company }} - {{ fuel_station.city }}, {{ fuel_station.state_abbr }}{% endblock %}

{% block link %}
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
	<style>
		#map { position:absolute; top:0; bottom:0; width:100%; }
	</style>
{% endblock %}

{% block path %}
	<section id="sub-nav">
		<a href="{% url 'eco_index' %}">Home</a> &gt;&gt; <a href="{% url 'fuel_station_index' %}">Fuel Stations</a> &gt;&gt; {{ fuel_station }}
	</section>
{% endblock %}

{% block content %}
	<h1>Fuel Station Info</h1>
	<h3>Overview</h3>
	<p>Company: {{ fuel_station.company }}</p>
	<p>Address: {{ fuel_station.full_address }}</p>
	{% load static %}
	<!-- FIXME: change iframe 'src' attribute to 'srcdoc' for direct HTML code input from this same template -->
	<iframe id="mapbox-station-single" class="w-full" allowfullscreen="" mozallowfullscreen="true" webkitallowfullscreen="true" src="{% static 'FuelTrackerApp/mapbox/fuelstation_single.html' %}"></iframe>
{% endblock %}
