{% extends "FuelTrackerApp/base.html" %}

{% block title %}Fill-Up: {{ receipt.receipt_datetime }}{% endblock %}

{% block path %}
	<section id="sub-nav">
		<a href="{% url 'eco_index' %}">Home</a> &gt;&gt; <a href="{% url 'receipt_index' %}">Fill-Ups</a> &gt;&gt; {{ receipt.short_date_only }}
	</section>
{% endblock %}

{% block content %}
	<h1>Purchase Info</h1>
	<h3>Overview</h3>
	<div>
		<p>
			<a href="{% url 'vehicle_detail' vehicle.id %}">{{ vehicle.short }}</a>
		</p>
		<p>
			{{ receipt.gallons }} gal @ ${{ receipt.price_per_gal}}/gal
		</p>
		<p>
			Total: ${{ price_total }}
		</p>
		<p>
			Distance since last fill-up: {{ receipt.mi_since_last }} mi
		</p>
		<p>
			Paid with
			{% if receipt.is_cash_purchase %}
				cash
			{% else %}
				card
			{% endif %}
		</p>
		<p>
			Company: {{ fuel_station.company }}
		</p>
		<p>
			Location: <a href="{% url 'fuel_station_detail' fuel_station.id %}">{{ fuel_station.full_address }}</a>
		</p>
	</div>
{% endblock %}
