<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fill-Ups</title>
  </head>
  <body>
    <div>
      <a href="{% url 'eco_index' %}">Home</a> &gt;&gt; Fill-Ups
    </div>
    <h1>Fill-Ups</h1>
    {% if receipts %}
      <ul>
        {% for receipt in receipts %}
          <li><a href="{% url 'receipt_detail' receipt.id %}">{{ receipt }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Site-wide, no fill-ups have been recorded! This must change!</p>
    {% endif %}
    <p>
      <a href="{% url 'receipt_new' %}">New</a>
    </p>
  </body>
</html>
