{% extends "FuelTrackerApp/base.html" %}

{% block title %}New Fill-Up{% endblock %}

{% block path %}
	<section id="sub-nav">
		<a href="{% url 'eco_index' %}">Home</a> &gt;&gt; <a href="{% url 'receipt_index' %}">Fill-Ups</a> &gt;&gt; New
	</section>
{% endblock %}

{% block content %}
	<h1>New Fill-Up</h1>
	{% if not user.is_authenticated %}
		<p>You must log in to add fill-up records to your vehicles.</p>
		<p>&gt;&gt; <a href="{% url 'user_login' %}">Log in now</a></p>
	{% elif not vehicles or not fuel_stations %}
		{% if not vehicles %}
			<p>You must have a vehicle to add fuel-ups to. Don't worry; setup is fast!</p>
			<p><a href="{% url 'vehicle_new' %}">Add vehicle now</a></p>
		{% endif %}
		{% if not fuel_stations %}
			<p>You must have a vehicle to add fuel-ups to. Don't worry; setup is fast!</p>
			<p><a href="{% url 'vehicle_new' %}">Add vehicle now</a></p>
		{% endif %}
	{% else %}
		<form method="post">
			{% csrf_token %}
			<h3>New Fill-Up Entry Form</h3>
			{% if error_message %}
				<p><strong>{{ error_message }}</strong></p>
			{% endif %}
			<ul>
				<li>
					<label for="id_gallons">Gallons:</label>
					<input type="number" name="gallons" step="any" required="" id="id_gallons">
					<p class="helptext">The number of gallons purchased</p>
				</li>
				<li>
					<label for="id_price_per_gal">Price per gal:</label>
					<input type="number" name="price_per_gal" step="any" required="" id="id_price_per_gal">
					<p class="helptext">The price per gallon of fuel</p>
				</li>
				<li>
					<label for="id_is_cash_purchase">Cash purchase:</label>
					<input type="checkbox" name="is_cash_purchase" id="id_is_cash_purchase">
					<p class="helptext">'Yes' indicates cash payment; 'No' indicates card payment.</p>
				</li>
				<li>
					<label for="id_gas_station">Fuel station:</label>
					<select name="gas_station" required="" id="id_gas_station">
						<option value="" selected="">---------</option>
						{% for station in fuel_stations %}
							<option value="{{ station.id }}">{{ station }}</option>
						{% endfor %}
					</select>
					<p class="helptext">Fuel station at which the fill-up was made</p>
				</li>
				<li>
					<label for="id_vehicle">Vehicle:</label>
					<select name="vehicle" required="" id="id_vehicle">
						<option value="" selected="">---------</option>
						{% for vehicle in vehicles %}
							<option value="{{ vehicle.id }}">{{ vehicle }}</option>
						{% endfor %}
					</select>
					<p class="helptext">Vehicle which received the fill-up</p>
				</li>
				<li>
					<label for="id_receipt_datetime">Date &amp; time:</label>
					<input type="text" name="receipt_datetime" value="2019-09-24 18:33:08" required="" id="id_receipt_datetime">
					<input type="hidden" name="initial-receipt_datetime" value="2019-09-24 18:33:08" id="initial-id_receipt_datetime">
					<p class="helptext">The date &amp; time of the fill-up. Must format as: YYYY-MM-DD hh:mm:ss</p>
				</li>
				<li>
					<label for="id_note">Note:</label>
					<input type="text" name="note" maxlength="50" id="id_note">
					<p class="helptext">Optional small description accompanying the fill-up record</p>
				</li>
				<li>
					<label for="id_mi_since_last">Miles driven since last:</label>
					<input type="number" name="mi_since_last" step="any" required="" id="id_mi_since_last">
					<p class="helptext">The number of miles driven since last fill-up</p>
				</li>
				<li>
					<input type="submit" name="submit" value="Submit">
				</li>
			</ul>
		</form>
	{% endif %}
{% endblock %}
