/* CSS RESET */
body, html {
    margin: 0;
    padding: 0;
    border: 0;
}

/* GENERAL */
a {
    color: rgb(47, 95, 79);
}
body {
    background-color: floralwhite;
}
html {
    height: 100%;
}
main {
    margin: 0 10vw;
    padding: 0.01em 1em;
    background-color: white;
}

/* NAVIGATION */
nav {
    padding: 0 10vw;
    background-color: aquamarine;
    font-size: 1.1em;
}
nav a {
    text-decoration: none;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
nav ul li {
    padding: 1em;
    display: block;
}
nav ul a:hover {
    background-color: rgb(115, 230, 191);
}
.flex-stretch-center {
    padding: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100% | auto;
}

/* SUB-NAVIGATION (CURRENT PATH DISPLAY) */
#sub-nav {
    padding: 0.5vw 10vw;
    color: black;
    font-size: .9em;
}
#sub-nav a {
    color: black;
}


