{% extends "FuelTrackerApp/base.html" %}

{% block title %}LOGIN{% endblock %}

{% block path %}
	<section id="sub-nav">
		<a href="{% url 'eco_index' %}">Home</a> &gt;&gt; Log-In
	</section>
{% endblock %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		<h1>Log In</h1>
		<ul>
			<li>
				<label for="username">Username</label>
				<input type="text" name="username" placeholder="ecofriend">
			</li>
			<li>
				<label for="password">Password</label>
				<input type="password" name="password">
			</li>
			<li>
				<input type="submit" name="submit" value="Log In">
			</li>
		</ul>
	</form>
	<p>Don't have an account? <a href="{% url 'user_signup' %}">Sign up here.</a></p>
{% endblock %}
