<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <a href="{% url 'eco_index' %}">Home</a> &gt;&gt; Log-In
    </div>
    <h1>Log In</h1>
    <form method="post">
      {% csrf_token %}
      <div class="simple-form">
        <div class="field">
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="ecofriend">
        </div>
        <div class="field">
          <label for="password">Password</label>
          <input type="password" name="password">
        </div>
        <div class="field">
          <input type="submit" name="submit" value="Log In">
        </div>
      </div>
    </form>
    <p>Don't have an account? <a href="{% url 'user_signup' %}">Sign up here.</a></p>
  </body>
</html>
