<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'FuelTrackerApp/style.css' %}">
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="{% url 'eco_index' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'vehicle_index' %}">Vehicles</a>
        </li>
        <li>
          <a href="{% url 'receipt_index' %}">Fill-Ups</a>
        </li>
        <li>
          <a href="{% url 'fuel_station_index' %}">Fuel Stations</a>
        </li>
        <li>
          <a href="{% url 'user_logout' %}">Logout</a>
        </li>
      </ul>
    </nav>

    <h1>HOME STUB</h1>
    {% if user.is_authenticated %}
      <p>logged in as {{ user.username }}</p>
      <p>{{id}}</p>
    {% endif %}

    <p><a href="{% url 'user_login' %}">Log in</a></p>
    <p><a href="{% url 'user_signup' %}">Sign up</a></p>
    <div>
      <ol>
        <li><s>user sign-up</s></li>
        <li><s>user log-in</s></li>
        <li><s>user logout</s></li>
        <li>user vehicles/fill-up visibility restriction</li>
        <li>CSS (mobile)</li>
        <li>CSS (desktop)</li>
        <li>profile stats</li>
        <li>stats visuals</li>
        <li>Mapbox for fuel station locations</li>
        <li>receipt "tags" to identify groups, subgroups for detailed stats</li>
      </ol>
    </div>
  </body>
</html>
