{% extends "FuelTrackerApp/base.html" %}

{% block title %}HOME{% endblock %}

{% block path %}
	<section id="sub-nav">
		Home
	</section>
{% endblock %}

{% block content %}
	<h1>HOME</h1>
	{% if user.is_authenticated %}
		<p>logged in as {{ user.username }}</p>
	{% endif %}
	<section>
		<h3>To-Do:</h3>
		<ol>
			<li><s>user sign-up</s></li>
			<li><s>user log-in</s></li>
			<li><s>user logout</s></li>
			<li><s>user vehicles/fill-up visibility restriction</s></li>
			<li><s>CSS (mobile)</s></li>
			<li><s>Mapbox map</s></li>
			<li>add pins with Fuel Station locations to map</li>
			<li>CSS (desktop)</li>
			<li>profile stats</li>
			<li>stats visuals</li>
			<li>receipt "tags" to identify groups, subgroups for detailed stats</li>
			<li>export user records to CSV/XLS file types</li>
		</ol>
	</section>
{% endblock %}