<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="keywords" content="Fuel Economy, Fuel Efficiency, Eco-Friendly, Green, Carbon Emission, Carbon Footprint, Record, Track">
		<meta name="description" content="Free Fuel Economy Tracking App">
		<meta name="author" content="Nathan Alexander Page">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} | Ecotracker</title>
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'FuelTrackerApp/style.css' %}">
		{% block link %}{% endblock %}
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<a href="{% url 'eco_index' %}">
						<li>
							Home
						</li>
					</a>
					<a href="{% url 'vehicle_index' %}">
						<li>
							Vehicles
						</li>
					</a>
					<a href="{% url 'receipt_index' %}">
						<li>
							Fill-Ups
						</li>
					</a>
					<a href="{% url 'fuel_station_index' %}">
						<li>
							Fuel Stations
						</li>
					</a>
					<li class="flex-stretch-center">
						<!-- STRETCHY FILLER BLOCK -->
					</li>
					<a href="{% url 'help_index' %}">
						<li>
							Help
						</li>
					</a>
					{% if user.is_authenticated %}
						<a href="{% url 'user_logout' %}">
							<li>
								Logout
							</li>
						</a>
					{% else %}
						<a href="{% url 'user_login' %}">
							<li>
								Log In
							</li>
						</a>
					{% endif %}
				</ul>
			</nav>
			{% block path %}
			{% endblock %}
		</header>
		<main>
			{% block content %}
			{% endblock %}
		</main>
		<div class="flex-stretch-center"></div>
		<footer>
			© Ecotracker
		</footer>
	</body>
</html>
