{% extends "FuelTrackerApp/base.html" %}

{% block title %}Home{% endblock %}

{% block path %}
	<section id="sub-nav">
		Home
	</section>
{% endblock %}

{% block content %}
	<h1>HOME</h1>
	{% if user.is_authenticated %}
		<p>logged in as {{ user.username }}</p>
	{% endif %}
	<section>
		<h3 id="todo">To-Do:</h3>
		<ol>
			<li><s>user sign-up</s></li>
			<li><s>user log-in</s></li>
			<li><s>user logout</s></li>
			<li><s>user vehicles/fill-up visibility restriction</s></li>
			<li>CSS
				<ul>
					<li><s>mobile</s></li>
					<li>desktop</li>
				</ul>
			</li>
			<li>Mapbox
				<ul>
					<li><s>placement</s></li>
					<li>w/ Fuel Station pins</li>
				</ul>
			</li>
			<li>receipt form:
				<ul>
					<li>datetime not hardcoded</li>
					<li>link to create vehicle/fuel station from helptext</li>
				</ul>
			</li>
			<li>profile
				<ul>
					<li>settings</li>
					<li>stats
						<ul>
							<li>text</li>
							<li>visual (graphQL?)</li>
						</ul>
					</li>
				</ul>
			</li>
			<li>advanced search query
				<ul>
					<li>Fuel Stations</li>
					<li>Receipts</li>
					<li>Vehicles</li>
				</ul>
			</li>
			<li>receipt "tags" to identify groups, subgroups for detailed stats
				<ul>
					<li>creation (many-to-many)</li>
					<li>viewable</li>
					<li>searchable</li>
				</ul>
			</li>
			<li>export user records to <code>.csv</code>/<code>.xlsx</code>
				<ul>
					<li>downloadable as files</li>
					<li>OAuth & <code>.csv</code>/<code>.xlsx</code> file export to Google Drive</li>
				</ul>
			</li>
			<li>documentation
				<ul>
					<li><code>README.md</code></li>
					<li>"How to use" instructional site pages</li>
				</ul>
			</li>
			<li>from vehicle detail page: link to create new fill-up. auto-assigns vehicle to that whose page directed to 'new fill-up' (via session?)</li>
			<li>CRUD
				<ul>
					<li><s>Create</s>
						<ul>
							<li><s>Fuel Stations</s></li>
							<li><s>Receipts</s></li>
							<li><s>Vehicles</s></li>
						</ul>
					</li>
					<li><s>Read</s>
						<ul>
							<li><s>Fuel Stations</s></li>
							<li><s>Receipts</s></li>
							<li><s>Vehicles</s></li>
						</ul>
					</li>
					<li>Update
						<ul>
							<li>Fuel Stations</li>
							<li>Receipts</li>
							<li>Vehicles</li>
						</ul>
					</li>
					<li>Delete
						<ul>
							<li>Fuel Stations</li>
							<li>Receipts</li>
							<li>Vehicles</li>
						</ul>
					</li>
				</ul>
			</li>
		</ol>
	</section>
{% endblock %}