<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fuel Station Info: {{ fuel_station.company }} — {{ fuel_station.city }}, {{ fuel_station.state_abbr }}</title>
  </head>
  <body>
    <div>
      <a href="{% url 'eco_index' %}">Home</a> &gt;&gt; <a href="{% url 'fuel_station_index' %}">Fuel Stations</a> &gt;&gt; {{ fuel_station }}
    </div>
    <main>
      <h1>Fuel Station Info</h1>
      {% if user.is_authenticated %}
        <p>logged in as {{ user.username }}</p>
      {% endif %}
      <h3>Overview</h3>
      <div>
        <p>Company: {{ fuel_station.company }}</p>
        <p>Address: {{ fuel_station.address }} {{ fuel_station.city }}, {{ fuel_station.state_abbr }} {{ fuel_station.zip_code }}</p>
      </div>
    </main>
  </body>
</html>
