<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fuel Stations</title>
  </head>
  <body>
    <div>
      <a href="{% url 'eco_index' %}">Home</a> &gt;&gt; Fuel Stations
    </div>
    <h1>Fuel Stations</h1>
    <h3>Top Fuel Stations</h3>
    <div>
      {% if fuel_stations %}
        <ul>
          {% for fuel_station in fuel_stations %}
            <li><a href="{% url 'fuel_station_detail' fuel_station.id %}">{{ fuel_station }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Site-wide, no fuel stations have been recorded! This must change!</p>
      {% endif %}
    </div>
    <p>
      <a href="{% url 'fuel_station_new' %}">Create New</a>
    </p>
  </body>
</html>
