{% extends "FuelTrackerApp/base.html" %}

{% block title %}
Vehicle Info:
	{% if vehicle.nickname %}
		{{ vehicle.nickname }}
	{% else %}
		{{ vehicle.make }} {{ vehicle.model }}
	{% endif %}
{% endblock %}

{% block path %}
	<section id="sub-nav">
		<a href="{% url 'eco_index' %}">Home</a> &gt;&gt; <a href="{% url 'vehicle_index' %}">Vehicles</a> &gt;&gt; {{vehicle}}
	</section>
{% endblock %}

{% block content %}
	<h1>Vehicle Details</h1>
	{% if user.is_authenticated %}
		<p>logged in as {{ user.username }}</p>
	{% endif %}
	<div>
		<h3>Overview</h3>
		<p>
			Owner: {{ vehicle.owner.username }}
		</p>
		{% if vehicle.nickname %}
			<p>
				Name: {{ vehicle.nickname }}
			</p>
		{% endif %}
		<p>
			Make: {{ vehicle.make }}
		</p>
		<p>
			Model: {{ vehicle.model }}
		</p>
	</div>
	<div>
		<h3>Receipt Records</h3>
		{% if receipts %}
			<ul>
				{% for receipt in receipts %}
					<li>
							<a href="{% url 'receipt_detail' receipt.id %}">{{ receipt.receipt_datetime }} @ {{ receipt.gas_station.company }}, {{ receipt.gallons }}gal</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>It appears no fuel purchases have been recorded yet for this vehicle.</p>
		{% endif %}
	</div>
{% endblock %}
