<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vehicles</title>
  </head>
  <body>
    <div>
      <a href="{% url 'eco_index' %}">Home</a> &gt;&gt; Vehicles
    </div>
    <main>
      <h1>Vehicles</h1>
      {% if user.is_authenticated %}
        <p>logged in as {{ user.username }}</p>
      {% endif %}
      {% if vehicles %}
        <p>Your vehicles:</p>
        <ul>
          {% for vehicle in vehicles %}
            <li><a href="{% url 'vehicle_detail' vehicle.id %}">{{ vehicle }}</a></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>You have not yet added any vehicles to track.</p>
      {% endif %}
      <p>
        <a href="{% url 'vehicle_new' %}">Add vehicle</a>
      </p>
    </main>
  </body>
</html>
