<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Vehicle</h1>
    <div>
      <h3>A quick check</h3>
      {% if vehicles %}
        <p>Does the vehicle record you were about to create already exist?</p>
        <figure>
          <figcaption>Existing vehicles:</figcaption>
          <ul>
            {% for vehicle in vehicles %}
              <li>
                {{ vehicle }}
              </li>
            {% endfor %}
          </ul>
        </figure>
      {% endif %}
    </div>
    <form action="index.html" method="post">
      <div>
        <h3>New Vehicle Entry Form</h3>
        <div class="field">
          <label for="make">Make</label>
          <input type="text" name="make" placeholder="Honda">
        </div>
        <div class="field">
          <label for="model">Model</label>
          <input type="text" name="model" placeholder="Civic">
        </div>
        <div class="field">
          <label for="year">Year</label>
          <input type="number" name="year" value="1999">
        </div>
        <div class="field">
          <label for="nickname">Nickname</label>
          <input type="text" name="nickname" placeholder="Hayden">
        </div>
        <div class="field">
          <input type="submit" name="submit" value="Submit">
        </div>
      </div>
    </form>
  </body>
</html>
